sdkconfig
sdkconfig.old
dependencies.lock

.vscode/
.devcontainer/
build/
managed_components/

web/compressed.h
web/visualize.min.*

*.excalidraw

main/certificates/*.key
main/certificates/*.pem
main/certificates/*.crt

**/venv
**/__pycache__
