# https://docs.espressif.com/projects/esp-idf/en/stable/esp32/api-reference/kconfig.html

# Scanner specific
CONFIG_SCANNER=y

# C++
CONFIG_COMPILER_CXX_EXCEPTIONS=y

# Bluetooth
CONFIG_BT_ENABLED=y
CONFIG_BT_BLE_ENABLED=y
CONFIG_BLUEDROID_ENABLED=y
CONFIG_BT_CLASSIC_ENABLED=y # Disable - not used

# CONFIG_BT_GATTC_ENABLE=y
CONFIG_BT_GATTS_ENABLE=y

# CONFIG_BT_BLE_50_FEATURES_SUPPORTED=y # Should be enabled by default if supported
# CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y # Should be enabled by default if supported
# CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y

CONFIG_BTDM_CTRL_MODE_BTDM=y
CONFIG_BTDM_BLE_SCAN_DUPL=y
CONFIG_BLE_SCAN_DUPLICATE=y
CONFIG_SCAN_DUPLICATE_BY_DEVICE_ADDR=y

# Flash Size
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Partition
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
