
menu "ESP Localization"
    choice MASTER_OR_SCANNER
        prompt "Select Master, Scanner or Tag"
        default MASTER

    config MASTER
        bool "Device acts as a Master"
    config SCANNER
        bool "Device acts as a Scanner"
    config TAG
        bool "Device acts as a Tag"
    endchoice

    # TAG
    menu "TAG"
        depends on TAG
        config TAG_MINIMUM_ADVERTISING_INTERVAL
            int "Min advertising"
            range 32 16384
            default 400
            help
                Minimum advertising interval, expressed as N * 0.625msec.

        config TAG_MAXIMUM_ADVERTISING_INTERVAL
            int "Max advertising"
            range 32 16384
            default 800
            help
                Maximum advertising interval, expressed as N * 0.625msec.

        choice TAG_ADVERTISING_CHANNEL_CHOICE
            prompt "Advertising channel"
            default TAG_ADVERTISING_CHANNEL_SPECIFIC
        help
            Choose to advertise on all channels or select specific ones.

        config TAG_ADVERTISING_CHANNEL_ALL
            bool "All channels"
        config TAG_ADVERTISING_CHANNEL_SPECIFIC
            bool "Specific channels"
        endchoice

        config TAG_ADVERTISING_CHANNEL
            depends on TAG_ADVERTISING_CHANNEL_SPECIFIC
            int "Max advertising"
            range 37 39
            default 37
            help
                Advertise on specific advertising channel.
    endmenu

    # Scanner
    menu "Scanner"
        depends on SCANNER
        choice SCANNER_BT_OR_BLE
            prompt "Scanning mode"
            default SCANNER_SCAN_BOTH
        help
            Scan either for BT Classic devices, BLE devices or alternate between scanning/discovering.

        config SCANNER_SCAN_BLE_ONLY
            depends on BT_BLE_ENABLED
            bool "Only BT BLE"
        config SCANNER_SCAN_CLASSIC_ONLY
            depends on BT_CLASSIC_ENABLED
            bool "Only BT Classic"
        config SCANNER_SCAN_BOTH
            depends on BT_CLASSIC_ENABLED && BT_BLE_ENABLED && BTDM_CTRL_MODE_BTDM
            bool "Both alternately"
            help
                Change periodically between a Classic (Discovery) and BLE (Scan)
        endchoice

        config SCANNER_SCAN_BOTH_PERIOD_CLASSIC
            depends on SCANNER_SCAN_BOTH
            int "Time [s]"
            range 1 30
            default 5
            help
                How long to scan(discover) with BT Classic before switching to BLE [s]
        config SCANNER_SCAN_BOTH_PERIOD_BLE
            depends on SCANNER_SCAN_BOTH
            int "Time [s]"
            range 1 30
            default 15
            help
                How long to scan with BLE before switching to BT Classic [s]
        config SCANNER_DEVICE_COUNT_LIMIT
            int "Max devices"
            range 1 128
            default 28
            help
                Maximum amount of devices saved. Note: Only 7 devices can be sent at once - keep this number low!
                Preferably use multiples of 7.
        config SCANNER_ENABLE_ASSOCIATION
            bool "Enable association"
            default y
            help
                BLE devices with same advertising data will be merged into a single device.
        config SCANNER_MIN_RSSI
            int "Minimum RSSI [dBm]"
            range -120 0
            default -95
            help
                Minimum RSSI to save a device.
        config SCANNER_STALE_LIMIT
            int "Remove limit [ms]"
            range 1000 60000
            default 15000
            help
                Maximum interval in milliseconds, after which a device is removed if not updated.
    endmenu

    # Master
    menu "Master"
        depends on MASTER

        config MASTER_GATT_READ_INTERVAL
            int "Gatt Read interval [ms]"
            range 100 60000
            default 1000
            help
                Time to wait in milliseconds before sending GATT Read to each Scanner [ms].
        config MASTER_DELAY_BETWEEN_GATT_READS
            int "Gatt Read delay"
            range 100 5000
            default 500
            help
                Time to wait between each GATT Read [ms]
        # WiFi
        menu "WiFi"
            choice WIFI_AP_OR_STA
                prompt "AP/STA"
                default WIFI_AS_AP
                help
                    Create wifi AP or connect to an existing one (STA)

            config WIFI_AS_AP
                bool "Access Point"
                help
                    Create new wifi network
            config WIFI_AS_STA
                bool "Station"
                help
                    Connect to an existing one
            endchoice

            config WIFI_SSID
                string "WiFi SSID"
                default "espwifi0"
                help
                    SSID (network name)

            config WIFI_PASSWORD
                string "WiFi Password"
                default "espwifi0"
                help
                    WiFi password (WPA2)

            config WIFI_CHANNEL
                depends on WIFI_AS_AP
                int "WiFi Channel"
                range 1 13
                default 1
                help
                    WiFi channel (network channel)

            config WIFI_MAX_CONNECTIONS
                depends on WIFI_AS_AP
                int "WiFi Max Connectioons"
                range 1 32
                default 3
                help
                    Maximum allowed connections
        endmenu
    endmenu
endmenu
